{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"env": {
		"browser": true
	},
	"extends": ["next", "plugin:react/recommended", "plugin:react-hooks/recommended", "plugin:react/jsx-runtime"],
	"rules": {
		"react/prop-types": "off"
	},
	"overrides": [
		{
			"files": ["pages/*.tsx"],
			"rules": {
				"no-restricted-syntax": ["off", { "selector": "ExportDefaultDeclaration" }]
			}
		}
	]
}
